<%= content_tag :main, class: %w(content), id: "post-#{@post.id}", role: "main" do %>

  <article class="post">

    <header style="background-image: url('<%= @post.images.favorites.first.url %>')">
      <span class="post-meta">
        <%= content_tag :time, l(@post.published_at, format: :long), datetime: @post.published_at %>
      </span>

      <%= content_tag :h1, @post.title, class: %w(post-title) %>
    </header>

    <%= content_tag :section, class: %w(post-content) do %>
      <style scoped><%= @post.stylesheet %></style>
      <%= @post.content.html_safe %>
    <% end %>

  </article>

  <section class="comments">
    <%= render 'comments', url: post_path(@post.published_at.year, @post.published_at.month, @post.slug, only_path: false) %>
  </section>


<% end %>
