<!DOCTYPE html>
<html>
  <head>
    <%= title_tag %>
    <%= assets_tags %>
    <%= meta_informations_tags %>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <%= body_tag id: [controller_name, action_name].join('-') do %>

    <%= admin_navigation %>

    <div id="fb-root"></div>

    <nav class="site">
      <div>
      </div>

      <div id="logo">
        <div>
          <a class="title" href="//lamarmite.ca">La Marmite</a>
        </div>
      </div>

      <div>
        <div class="fb-like" data-href="https://www.facebook.com/lamarmite.ca" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </nav>

    <%= yield -%>

  <% end %>
</html>
