<%= content_tag :section, id: "post-#{@post.id}", class: %w(post) do %>

  <nav>
    <%= image_tag 'profile.jpg' %>
    <%= link_to 'Articles', :root %>
  </nav>

  <header class="post title">
    <%= content_tag :h1, @post.title, class: %w(entry-title) %>
  </header>

  <article class="content">
    <style scoped><%= @post.stylesheet %></style>
    <%= @post.content.html_safe %>
    <%= render "social", url: post_path(@post.published_at.year, @post.published_at.month, @post.slug, only_path: false) %>
    <%= render "comments" %>
  </article>

<% end %>
